<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Appenders>
        <RollingFile name="LogFile" fileName="logs/Hippodrome.log"
                     filePattern="logs/Hippodrome.%d{yyyy-MM-dd}.log"
                     ignoreException = "false">

            <PatternLayout>
                <Pattern>%d %-5p %c{1.}  %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath = "logs" maxDepth = "2">
                    <IfFileName glob = "Hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>